@model CustomerProcessViewModel

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="container my-5">
    <form method="post">
        <div class="row mb-3">
            <label>Müşteri Adı-Soyadı</label>
            <input type="text" class="form-control" asp-for="Name" />
        </div>
        <div class="row mb-3">
            <label>Çekilecek Miktar</label>
            <input type="text" class="form-control" asp-for="Amount" />
        </div>
        <div class="row mb-3">
            <button type="submit" class="btn btn-success">Para Çek</button>
        </div>
    </form>
</div>