@model DesignPattern.Mediator.MediatorPattern.Results.GetProductByIdQueryResult

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container mt-5">
    <div class="row mb-3">
        <label>Id</label>
        <input asp-for="Id" type="text" class="form-control" />
    </div>
    <div class="row mb-3">
        <label>Ürün Adı</label>
        <input asp-for="Name" type="text" class="form-control" />
    </div>
    <div class="row mb-3">
        <label>Ürün Stok</label>
        <input asp-for="Stock" type="text" class="form-control" />
    </div>
</div>