@model RepositoryDesignPattern.Entity.Concrete.Product

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container mt-5 w-50">
    <div class="jumbotron">
        <form method="post">
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Ürün Adı</label>
                <input asp-for="Name" type="text" class="form-control" id="formGroupExampleInput" placeholder="Ürün Adı">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Kategori</label>
                @Html.DropDownListFor(x=>x.CategoryId,(List<SelectListItem>)ViewBag.Categories, new { @class = "form-control" })
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Stok</label>
                <input asp-for="Stock" type="text" class="form-control" id="formGroupExampleInput" placeholder="Stok">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Fiyat</label>
                <input asp-for="Price" type="text" class="form-control" id="formGroupExampleInput" placeholder="Fiyat">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-info btn-block">Güncelle</button>
            </div>
        </form>
    </div>
</div>